/* global.css */

::selection {
    background-color: #FFFF00; /* Background color when selected */
    color: black; /* Text color when selected */
  }
  
  ::-moz-selection {
    background-color: #FFFF00; /* Firefox specific */
    color: black; /* Firefox specific */
  }
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'NHaasGroteskTXPro';
    src: url('/Fonts/Nnhaasgrotesktxpro-55rg-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula Condensed';
    src: url('/Fonts/formulacondensed-light-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
